.wrapper {
  margin: 0 auto;
  width: 100%;
}

.header {
  background-color: #fff;
}
.header-inner {
  padding: 30px 40px 0 40px;
  height: 80px;
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 4;
  background-color: #fff;
}
@media only screen and (max-width: 800px) {
  .header-inner {
    width: 100%;
    height: 40px;
    padding: 5px 40px 0 20px;
    box-sizing: border-box;
  }
}
.header-inner-ikashika {
  float: left;
  width: 330px;
}
@media only screen and (max-width: 800px) {
  .header-inner-ikashika {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .header-inner-ikashika a img {
    width: 196px;
  }
}
.header-inner-nav {
  float: right;
  margin-top: -60px;
  position: relative;
  z-index: 5;
  margin-right: 50px;
}
.header-inner-nav-item {
  float: left;
  padding-left: 40px;
}
.header-inner-nav-item a:link {
  color: #000;
}
@media only screen and (max-width: 800px) {
  .header-inner-nav {
    float: none;
    margin-right: 0px;
    width: 240px;
    font-size: 8px;
    /*display: none;*/
  }
  .header-inner-nav-item {
    float: none;
  }
}
.header-index {
  height: 80px;
  background: #28214c;
  position: relative;
}
.header-index-inner {
  width: 960px;
  margin: 0 auto;
}
.header-index-title {
  height: 40px;
  width: 960px;
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 20px;
  margin: auto;
}
@media only screen and (max-width: 800px) {
  .header-index-title {
    width: 100%;
  }
}

.footer {
  width: 100%;
  height: 140px;
  padding: 30px 0;
  background-color: #5A5A5A;
  color: #FFF;
}
.footer-inner {
  margin: 0 auto;
  width: 960px;
}
@media only screen and (max-width: 800px) {
  .footer-inner {
    width: 100%;
  }
}
.footer-logo {
  width: 260px;
  height: 70px;
  margin: 0 auto;
}
@media only screen and (max-width: 800px) {
  .footer-logo img {
    width: 260px;
    height: 70px;
  }
}
.footer-info {
  text-align: center;
  margin-top: 10px;
}
@media only screen and (max-width: 800px) {
  .footer-info {
    width: 100%;
    margin: 0 auto;
    font-size: 8px;
    padding-top: 20px;
  }
}

/*mobile hamburger menu
======================*/
.close-btn-detail {
  display: none;
}

@media only screen and (max-width: 800px) {
  .header-inner-nav {
    width: 100%;
    transition: 1s;
    background-color: white;
    z-index: 1;
    position: absolute;
    top: -236px;
  }

  .header-inner-nav-item {
    color: #222;
    border-bottom: 1px solid #111;
    text-align: center;
    height: 20px;
    padding: 10px 0;
  }

  .header-inner-nav-item:first-child {
    border-top: 2px solid #111;
  }

  .onclick {
    top: 59px;
  }

  .menu-btn {
    width: 40px;
    height: 40px;
    background-color: #fff;
    z-index: 998;
    float: right;
    border: 1px solid #eee;
    margin-top: -6px;
    margin-right: -42px;
  }

  .line {
    transition: 1s;
    width: 23px;
    height: 3px;
    background-color: #999;
    margin: 0 auto;
    margin-top: 7px;
    opacity: 0;
    /*display: none;*/
  }

  .close-btn {
    transition: 1s;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: -20px;
    opacity: 0;
  }

  .close-btn-detail {
    color: #999;
    display: block;
  }

  .show {
    display: inherit;
    opacity: 1;
  }

  /*tranceparent animation
  ======================*/
  .scroll-opacity {
    opacity: 0.3;
  }

  /*sub page wrapper
  ======================*/
  .subpage-wrapper {
    width: 90% !important;
  }

  .header-index {
    height: 40px;
  }
  .header-index-title {
    top: 0;
    left: 20px;
    display: inline;
  }
}
.show-opacity {
  opacity: 1 !important;
}

.maincontent {
  position: relative;
  max-width: 1560px;
  margin: 0 auto;
  display: block;
}

.mainVisual {
  width: 100%;
  transition: all 1s;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.46, 0.72, 1, 1) !important;
}
.mainVisual-inner {
  font-family: Raleway;
  position: absolute;
  top: 35%;
  left: 15%;
}
.mainVisual-inner-date {
  font-size: 18px;
}
@media only screen and (max-width: 800px) {
  .mainVisual-inner-date {
    font-size: 8px;
    font-size: 0.8rem;
  }
}
.mainVisual-inner-lead {
  font-size: 42px;
  line-height: 1.2;
}
@media only screen and (max-width: 800px) {
  .mainVisual-inner-lead {
    font-size: 18px;
    font-size: 1.8rem;
  }
}
.mainVisual-inner-lead-sub {
  font-weight: 100;
}
.mainVisual-inner-link {
  width: 230px;
  height: 30px;
  border: 3px solid #000;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  margin-top: 26px;
}

.news {
  background-color: #eee;
  padding-bottom: 40px;
}
.news-sled {
  width: 960px;
  margin: 0 auto;
}
@media only screen and (max-width: 800px) {
  .news-sled {
    width: 90%;
  }
}
.news-content {
  border-top: solid 1px #bbb;
  overflow: hideen;
  width: 960px;
  height: 50px;
  padding: 10px 0;
}
@media only screen and (max-width: 800px) {
  .news-content {
    width: 100%;
    display: table;
  }
}
.news-content-main {
  float: left;
}
@media only screen and (max-width: 800px) {
  .news-content-main {
    float: none;
    display: table-cell;
    width: 100%;
  }
}
.news-content-more {
  width: 120px;
  height: 38px;
  margin: 0 auto;
  margin-top: 50px;
  border: 3px solid #00004C;
  border-radius: 24px;
  padding-left: 54px;
  padding-top: 7px;
  font-weight: bold;
  color: #28214c;
}
.news-content-layout {
  width: 700px;
  float: left;
}
.news-content-info {
  width: 82px;
  height: 22px;
  border-radius: 12px;
  font-size: 10px;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  float: left;
  margin-top: 3px;
}
.news-content-date {
  float: right;
  margin-right: 60px;
  width: 100px;
  margin-left: 50px;
  color: #aaa;
}
@media only screen and (max-width: 800px) {
  .news-content-date {
    display: table-cell;
    float: none;
  }
}
.news-content-date-file:after {
  content: '';
  position: absolute;
  background: url(../img/svg/icon_blank.svg) no-repeat;
  width: 18px;
  height: 18px;
  margin-left: 30px;
  margin-top: 3px;
}
@media only screen and (max-width: 800px) {
  .news-content-date-file:after {
    margin-left: -18px;
    margin-top: -23px;
  }
}
.news-content-lead {
  width: 600px;
  margin-left: 90px;
}
@media only screen and (max-width: 800px) {
  .news-content-lead {
    width: 75%;
  }
}
.news-content-lead-document {
  background: url(../img/svg/icon_news.svg) left center no-repeat;
  padding: 10px 10px 10px 18px;
  height: 20px;
}
.news-content:last-child {
  border-bottom: dotted 1px #000;
}

.blue {
  background-color: #6D99D2;
}

.green {
  background-color: #548854;
}

.title {
  font-family: Raleway;
  font-weight: lighter;
  margin: 0 auto;
  width: 400px;
  padding: 50px 0px 50px;
  line-height: 1.3;
  text-align: center;
  text-align: center;
  color: #28214c;
}
@media only screen and (max-width: 800px) {
  .title {
    width: 100%;
  }
}
.title-sub {
  font-size: 48px;
}
.title-sub-ja {
  font-size: 14px;
  letter-spacing: 8px;
}

.research {
  background-color: #fff;
  margin: 0 auto;
  width: 960px;
  margin-bottom: 40px;
  position: relative;
}
@media only screen and (max-width: 800px) {
  .research {
    width: 100%;
  }
}
.research-title {
  line-height: 2;
}
.research-title-sub {
  font-size: 32px;
}
.research-title-sub-ja {
  letter-spacing: 6px;
  margin-left: 30px;
}
.research-content {
  margin-bottom: 50px;
}
.research-content-article {
  position: relative;
}
.research-content-article-title {
  background-color: #000066;
  color: #FFF;
  font-size: 8px;
  width: 240px;
  position: absolute;
  left: 30%;
}
@media only screen and (max-width: 800px) {
  .research-content-article-title {
    font-size: 5px;
    width: 240px;
  }
}
.research-content-article-title-first {
  width: 130px;
}
.research-content-article-sub img {
  height: 100%;
  max-width: 100%;
}
.research-content-name {
  font-weight: bold;
}
.research-content-lead {
  line-height: 1.5;
  color: #aaa;
}

.info-link {
  padding: 40px 0;
  background-color: #eee;
}
.info-link-inner {
  margin: 0 auto;
  width: 960px;
}
@media only screen and (max-width: 800px) {
  .info-link-inner {
    width: 100%;
  }
}
.info-link .articleIndex:last-child {
  margin-right: 0;
}

.row {
  overflow: hidden;
}
@media only screen and (max-width: 800px) {
  .row {
    width: 100%;
  }
}
.row .col-2 {
  width: 960px;
}
@media only screen and (max-width: 800px) {
  .row .col-2 {
    width: 100%;
  }
}
.row .col-2 .col {
  float: left;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .row .col-2 .col {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .row .col-3 {
    width: 100%;
  }
}
.row .col-3 .col {
  float: left;
  width: 33.3%;
  box-sizing: border-box;
}
.row .col-3 .col img {
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 800px) {
  .row .col-3 .col img {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .row .col-3 .col {
    float: none;
    width: 50%;
    max-width: 100%;
    margin: 0 auto;
  }
}

.subpage-wrapper {
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
}

.thumnail {
  float: left;
  width: 22%;
  padding: 10px;
  box-sizing: border-box;
}
.thumnail li img {
  width: 100%;
}
.thumnail-info {
  width: 100%;
  height: 90px;
  color: #b0c4de;
  background-color: #000066;
}
.thumnail-info-role {
  width: 90%;
  text-align: center;
  line-height: 1.3;
  padding-top: 10px;
}
.thumnail-info-role-job {
  font-size: 12px;
}
.thumnail-info-role-name {
  font-size: 24px;
}
.thumnail-info-role-en {
  font-size: 12px;
}

@media only screen and (max-width: 800px) {
  .thumnail {
    float: left;
    width: 50%;
    box-sizing: border-box;
  }
  .thumnail li img {
    width: 100%;
  }
}
@media only screen and (max-width: 430px) {
  .thumnail-info {
    height: 80px;
  }

  .thumnail-info-role {
    width: 90%;
    text-align: center;
    line-height: 1.3;
    padding-top: 15px;
  }
  .thumnail-info-role-job {
    font-size: 8px;
  }
  .thumnail-info-role-name {
    font-size: 12px;
  }
  .thumnail-info-role-en {
    font-size: 9px;
  }
}
.member-staff {
  overflow: hidden;
}
@media only screen and (max-width: 800px) {
  .member-staff {
    width: 100%;
  }
}
.member-staff-name {
  font-size: 20px;
  padding: 20px 0px 1px;
  color: #555;
}

.index-name {
  font-size: 20px;
  border-bottom: 1px solid #999;
  padding: 30px 0px 10px 0px;
  margin-bottom: 30px;
}
.index-name-position {
  margin-left: 18px;
  color: #28214c;
  line-height: 1.2;
  font-weight: bold;
}
.index-name:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 5px;
  margin-top: 20px;
  background: #000066 left center;
  display: block;
}

.undergraduate {
  margin: 40px 0px 70px;
}
.undergraduate .member-index-name {
  font-size: 20px;
  color: #555;
}
.undergraduate .member-index-name-undergraduate-student {
  color: #888;
  line-height: 1.5;
}

.publication {
  margin-bottom: 40px;
}
.publication-article {
  margin: 20px 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}
.publication-article-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 20px;
}
.publication-article-info {
  color: #aaa;
  margin-bottom: 30px;
  line-height: 1.6;
}
.publication-article-info-item {
  padding-left: 10px;
}
.publication-article-info-item-time:before {
  width: 20px;
  height: 14px;
  background: url(../img/svg/icon_time.svg) left center no-repeat;
  content: '';
  position: relative;
  display: inline-block;
}
.publication-article-info-item-document:before {
  width: 20px;
  height: 14px;
  background: url(../img/svg/icon_note.svg) left center no-repeat;
  content: '';
  position: relative;
  display: inline-block;
}

.accese > p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.google_map {
  height: 450px;
  margin-bottom: 50px;
}

.research-article-content {
  overflow: hidden;
  margin: 30px 0px;
}
.research-article-content-lead {
  width: 350px;
  font-size: 20px;
  float: left;
}
.research-article-content-thumbnail {
  float: right;
}
.research-article-indent {
  text-indent: 1em;
}

.arrow img {
  padding-top: 7px;
}

.is-now {
  background-color: #000066;
  color: #fff;
}

.activity-article {
  float: left;
  width: 73%;
}
.activity-article .activity-article-content {
  padding-bottom: 30px;
  border-bottom: 1px solid #888;
}
.activity-article-title {
  font-size: 21px;
  border-bottom: 1px solid #28214c;
  margin-bottom: 30px;
}
.activity-article-title-en {
  font-size: 14px;
}
.activity-article-title-data {
  font-size: 12px;
}
.activity-article-nav {
  margin: 0 auto;
  padding: 30px 0;
}
.activity-article-nav-item {
  text-align: center;
}
.activity-article-nav-item-number {
  font-weight: bold;
  display: inline-block;
  width: 40px;
  height: 34px;
  border: 1px solid #000066;
  border-radius: 2px;
  margin: 4px;
  text-align: center;
  /* margin-top: 1px; */
  padding-top: 6px;
}

aside {
  float: left;
  width: 24%;
  margin-left: 3%;
  position: relative;
}
aside .achive-index {
  margin-bottom: 9px;
  font-size: 16px;
}
aside .achive-index:before {
  position: absolute;
  content: "";
  width: 9px;
  height: 3px;
  margin-top: 15px;
  background: #000066 left center;
  display: block;
}
aside .achive-category {
  height: 14px;
  display: inline;
  border: 1px solid #00004c;
  border-radius: 2px;
  color: #00004c;
  font-weight: bold;
  font-size: 13px;
  padding: 8px;
  margin-right: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
aside .achive-category:hover {
  opacity: 0.4;
}
aside .achive-nav-anchor {
  position: relative;
}
aside .achive-nav-year {
  font-size: bold;
  font-size: 16px;
  cursor: pointer;
}
aside .achive-nav-toggle {
  display: none;
}
aside .achive-nav-year:after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #555;
  position: absolute;
  right: 0;
  margin-right: 30px;
  margin-top: 8px;
  /* top: 29px; */
  display: inline-block;
}
aside .achive-nav-year:before {
  content: "";
  width: 2px;
  height: 10px;
  background-color: #555;
  position: absolute;
  right: 0;
  margin-right: 34px;
  margin-top: 4px;
  transition: all 1s;
  display: inline-block;
}
aside .achive-nav-month {
  width: 100%;
  height: 51px;
  margin-left: 15px;
  /* vertical-align: bottom; */
  border-top: 1px solid #eee;
  /* display: inline-block; */
  padding-top: 8px;
  overflow: hidden;
}

.is-expand:before {
  height: 0 !important;
  transition: all 1s;
}

@media only screen and (max-width: 800px) {
  .activity-article {
    float: inherit;
    width: 100%;
  }

  aside {
    float: inherit;
    width: 100%;
    margin-bottom: 20px;
  }
}
