html, body {
  width: 100%;
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 100%;
  height: 100%;
}
.wrapper.active nav {
  background: rgba(255, 255, 255, 0.9);
  height: 100%;
}
.wrapper.active nav .menu-list-container {
  opacity: 1;
}

.main-container {
  width: 100%;
  height: 100%;
  background: url("../images/bg1.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-container .content {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-container .content .text {
  font-size: 32px;
  letter-spacing: 3px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

nav {
  color: #333;
  position: absolute;
  top: 0;
  width: 100%;
  height: 46px;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
nav .menu-icon-container {
  position: absolute;
  top: 20px;
  right: 10%;
  z-index: 9999;
}
nav .menu-list-container {
  position: absolute;
  top: 50%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
nav .menu-list-container ul {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 100%;
}
nav .menu-list-container ul li {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
