@charset "UTF-8";
/* !dropcap.css
---------------------------------------------------------- */
.secLayout01 {
	margin-bottom: 30px;
	overflow: hidden;
	*zoom: 1;
	word-break: break-all;
	font-size: 115%;
	font-family: 'Indie Flower', cursive;
}
	
	.imgL01 {
		float: left;
		padding-right: 20px;
	}
	.imgR01 {
		float: right;
		padding-left: 20px;
	}
	.secLayoutIn01 {
		overflow: hidden;
		*zoom: 1;
	}
		.txtDropcap01 {
			overflow: hidden;
			zoom:1;
		}
		.txtDropcap01:first-letter{
			float: left;
			line-height: 1;
			font-size: 300%;
			padding: 10px 10px 5px 0;
		}
