<div class="row image">
    <div class="col-md-12">
        <img src="images/cover.jpg" alt=""/>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        Backbone.jsを使用したWebアプリケーションファイルです。
    </div>
    <div class="col-md-12">
        サンプルのjs、cssやテンプレートejsファイルを変更し、使用してください。
    </div>
    <div class="col-md-12">
        このサンプルでbackbone.jsに興味を持っていただけたら、backbone.jsに関する書籍、ブログなどでもっと勉強したり、backbone.jsを使用して開発されたサイト、アプリケーションを閲覧していくとより深く理解できると思います。
    </div>
    <div class="col-md-12">
        シングルページアプリケーションを開発できるMVCフレームワークはbackbone.jsだけでなくます。
        Angular.jsやember.jsなどあり、他のMVCフレームワークを勉強するとどのプロジェクトがどのフレームワークに向いているか、自分にあったフレームワークを見つけることができると思います。
    </div>
</div>
