
<div class="row">

    <div class="col-md-12">
        <h4>コンタクト</h4>
    </div>

    <div class="col-md-12">
        <ul>
            <li>backbone.js: <a href="http://backbonejs.org/">http://backbonejs.org/</a></li>
        </ul>
    </div>

</div>