<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
<meta charset="UTF-8" />
<title></title>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<meta name="viewport" content="width=device-width">
</head>

<body>
<script>
  $(function(){
    $(".is-drag").draggable();
  });
</script>
<div class="wrapper">
  <div class="is-drag">
    <div class="scroll-opacity"><img src="img/dummy.jpg" alt="" ></div>
    <p class="">Insert in a lead sentense.Insert in a lead sentense.Insert in a lead sentense.</p>
</div>


</div>


</body>
</html>
