<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
<meta charset="UTF-8" />
<title></title>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="/assets/js/basic.js"></script>
<meta name="viewport" content="width=device-width">
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
<!--[if lt IE 9]>
<script src="js/html5shiv-printshiv.js"></script>
<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
 <link rel="stylesheet" type="text/css" href="thumnail.css" />
 <link rel="stylesheet" type="text/css" href="base.css" />
 <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="wrapper">
	<section class="section row">
		<h2 class="section-title title ">
			<span class="section-title-sub title">Section thumnail Content</span><br><span class="thumnail-title-sub-ja">サムネイルコンテント</span>
		</h2>
    <div class="section-content col-2">
	      <dl  class="thumnail col">
  				<dt class="thumnail-title thumnail-content-article-title-first">title_thumanail</dt>
  				<dd class="thumnail-sub">
  					<img src="img/dummy.jpg" alt="" width="430" height="267">
  					<p class="thumnail-name">Cell Property analysis</p>
  					<p class="thumnail-lead">Insert in a lead sentense.Insert in a lead sentense.Insert in a lead sentense.</p>
  				</dd>
		    </dl>

		    <dl  class="thumnail col">
				<dt class="thumnail-title">title_thumanail</dt>
				<dd class="thumnail-sub">
					<img src="img/dummy.jpg" alt="" width="430" height="267">
					<p class="thumnail-name">Cell Property analysis</p>
					<p class="thumnail-lead">Insert in a lead sentense.Insert in a lead sentense.Insert in a lead sentense.</p>
				</dd>
		    </dl>
		 </div>
	</section>



<footer class="footer">
</footer>
</div><!-- /wrapper -->
<!--st js-->


</body>
</html>
