<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
<meta charset="UTF-8" />
<title></title>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="/assets/js/basic.js"></script>
<meta name="viewport" content="width=device-width">
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
<!--[if lt IE 9]>
<script src="js/html5shiv-printshiv.js"></script>
<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
 <link rel="stylesheet" type="text/css" href="/assets/css/base.css" />
 <link rel="stylesheet" type="text/css" href="/assets/css/top.css" />
 <link rel="stylesheet" type="text/css" href="base.css" />
 <link rel="stylesheet" type="text/css" href="news.css" />
 <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="wrapper">
	<header class="header">
	</header>


<section class="main">

	<section class="news">

		<h2 class="news-title title">
				<span class="title-sub">News</span><br><span class="title-sub-ja">ニュース</span>
		</h2>
			<div class="news-sled">
					<div class="news-content" >
						<div class="news-content-main">
							<p class="news-content-info blue">お知らせ</p>
							<p class="news-content-lead">リード文が入りますリード文が入ります<br><span class="news-content-lead-document"><a href="#">リンク先に移動しています。</a></span></p>
						</div>
					<p class="news-content-date news-content-date-file">May 28,2015</p>    <!--更新タグみたいな奴を絶対配置で置いてあるからいけないよ余白が生まれてる-->
					</div>

					<div class="news-content" >
						<div class="news-content-main">
							<p class="news-content-info blue">お知らせ</p>
							<p class="news-content-lead">リード文が入りますリード文が入ります</p>
						</div>
					<p class="news-content-date ">May 28,2015</p>
					</div>

					<div class="news-content">
						<div class="news-content-main">
							<p class="news-content-info green">掲載情報</p>
							<p class="news-content-lead">リード文が入りますリード文が入ります</p>
					</div>
					<p class="news-content-date ">May 28,2015</p>
					</div>

					<div class="news-content" >
						<div class="news-content-main">
							<p class="news-content-info blue">お知らせ</p>
							<p class="news-content-lead">リード文が入りますリード文が入ります</p>
						</div>
					<p class="news-content-date">May 28,2015</p>
					</div>

					<div class="news-content">
						<div class="news-content-main">
							<p class="news-content-info green">掲載情報</p>
							<p class="news-content-lead">リード文が入りますリード文が入ります</p>
						</div>
						<p class="news-content-date">May 28,2015</p>
					</div>

					<div class="news-content" >
						<div class="news-content-main">
							<p class="news-content-info blue">お知らせ</p>
							<p class="news-content-lead">リード文が入りますリード文が入ります</p>
						</div>
					<p class="news-content-date">May 28,2015</p>
					</div>
			</div>
		<p class="news-content-more">View More.</p>
	</section>


<footer class="footer">
	<div class="footer-inner">
	<div class="footer-logo"></div>
	<p class="footer-info"></p>
	</div>
</footer>
</div><!-- /wrapper -->
<!--st js-->


</body>
</html>
