.wrapper {
  margin: 0 auto;
  width: 100%;
}

.footer {
  width: 100%;
  padding: 30px 0;
  background-color: #5A5A5A;
  color: #FFF;
}
.footer-inner {
  margin: 0 auto;
  width: 960px;
}
@media only screen and (max-width: 800px) {
  .footer-inner {
    width: 100%;
  }
}
.footer-logo {
  width: 260px;
  height: 70px;
  margin: 0 auto;
}
@media only screen and (max-width: 800px) {
  .footer-logo img {
    width: 260px;
    height: 70px;
  }
}
.footer-info {
  text-align: center;
  margin-top: 10px;
}
@media only screen and (max-width: 800px) {
  .footer-info {
    width: 100%;
    margin: 0 auto;
    font-size: 8px;
    padding-top: 20px;
  }
}

/*mobile hamburger menu
======================*/
.close-btn-detail {
  display: none;
}

@media only screen and (max-width: 800px) {
  .header-inner-nav {
    width: 100%;
    transition: 1s;
    background-color: white;
    z-index: 1;
    position: absolute;
    top: -236px;
  }

  .header-inner-nav-item {
    color: #222;
    border-bottom: 1px solid #111;
    text-align: center;
    height: 20px;
    padding: 10px 0;
  }

  .header-inner-nav-item:first-child {
    border-top: 2px solid #111;
  }

  .onclick {
    top: 59px;
  }

  .menu-btn {
    width: 40px;
    height: 40px;
    background-color: #fff;
    z-index: 998;
    float: right;
    border: 1px solid #eee;
    margin-top: -6px;
    margin-right: -42px;
  }

  .line {
    transition: 1s;
    width: 23px;
    height: 3px;
    background-color: #999;
    margin: 0 auto;
    margin-top: 7px;
    opacity: 0;
    /*display: none;*/
  }

  .close-btn {
    transition: 1s;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: -20px;
    opacity: 0;
  }

  .close-btn-detail {
    color: #999;
    display: block;
  }

  .show {
    display: inherit;
    opacity: 1;
  }

  /*tranceparent animation
  ======================*/
  .scroll-opacity {
    opacity: 0.3;
  }

  /*sub page wrapper
  ======================*/
  .subpage-wrapper {
    width: 90% !important;
  }

  .header-index {
    height: 40px;
  }
  .header-index-title {
    top: 0;
    left: 20px;
    display: inline;
  }
}
.show-opacity {
  opacity: 1 !important;
}

/*news section
======================*/


.news {
  background-color: #eee;
  padding-bottom: 40px;
  color:#888;
}
.news-sled {
  width: 960px;
  margin: 0 auto;
}
@media only screen and (max-width: 800px) {
  .news-sled {
    width: 90%;
  }
}
.news-content {
  border-top: solid 1px #bbb;
  overflow: hideen;
  width: 960px;
  height: 50px;
  padding: 10px 0;
}
@media only screen and (max-width: 800px) {
  .news-content {
    width: 100%;
    display: table;
  }
}
.news-content-main {
  float: left;
}
@media only screen and (max-width: 800px) {
  .news-content-main {
    float: none;
    display: table-cell;
    width: 100%;
  }
}
.news-content-more {
  width: 120px;
  height: 38px;
  margin: 0 auto;
  margin-top: 50px;
  border: 3px solid #00004C;
  border-radius: 24px;
  padding-left: 54px;
  padding-top: 7px;
  font-weight: bold;
  color: #28214c;
}
.news-content-layout {
  width: 700px;
  float: left;
}
.news-content-info {
  width: 82px;
  height: 22px;
  border-radius: 12px;
  font-size: 10px;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  float: left;
  margin-top: 3px;
}
.news-content-date {
  float: right;
  margin-right: 60px;
  width: 100px;
  margin-left: 50px;
  color: #aaa;
}
@media only screen and (max-width: 800px) {
  .news-content-date {
    display: table-cell;
    float: none;
  }
}
.news-content-date-file:after {
  content: '';
  position: absolute;
  background: url(../img/svg/icon_blank.svg) no-repeat;
  width: 18px;
  height: 18px;
  margin-left: 30px;
  margin-top: 3px;
}
@media only screen and (max-width: 800px) {
  .news-content-date-file:after {
    margin-left: -18px;
    margin-top: -23px;
  }
}
.news-content-lead {
  width: 600px;
  margin-left: 90px;
}
@media only screen and (max-width: 800px) {
  .news-content-lead {
    width: 75%;
  }
}
.news-content-lead-document {
  background: url(../img/svg/icon_news.svg) left center no-repeat;
  padding: 10px 10px 10px 18px;
  height: 20px;
}
.news-content:last-child {
  border-bottom: dotted 1px #000;
}

.blue {
  background-color: #6D99D2;
}

.green {
  background-color: #548854;
}

.title {
  font-family: Raleway;
  font-weight: lighter;
  margin: 0 auto;
  width: 400px;
  padding: 50px 0px 50px;
  line-height: 1.3;
  text-align: center;
  text-align: center;
  color: #28214c;
}
@media only screen and (max-width: 800px) {
  .title {
    width: 100%;
  }
}
.title-sub {
  font-size: 48px;
}
.title-sub-ja {
  font-size: 14px;
  letter-spacing: 8px;
}
