<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
<meta charset="UTF-8" />
<title></title>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="basic.js"></script>
<meta name="viewport" content="width=device-width">
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
<!--[if lt IE 9]>
<script src="js/html5shiv-printshiv.js"></script>
<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
 <link rel="stylesheet" type="text/css" href="base.css" />
 <link rel="stylesheet" type="text/css" href="header.css" />
 <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="wrapper">
	<header class="header">
		<div class="header-inner">

				<h1 class="header-inner-ikashika">
				<a href="#"></a>
			  </h1>
			 	<div class="menu-btn">
    				<div class="line first-line show"></div>
    				<div class="line second-line show"></div>
    				<div class="line third-line show"></div>
            <div class="close-btn"><span class="close-btn-detail">×</span></div>
				</div>
	  </div>
				<nav class="header-inner-nav">
				<ul class="header-inner-nav-list">
					<li class="header-inner-nav-item"><a href="#">Anna</a></li>
					<li class="header-inner-nav-item"><a href="#">Betty</a></li>
					<li class="header-inner-nav-item"><a href="#">Cathy</a></li>
					<li class="header-inner-nav-item"><a href="#">Diana</a></li>
					<li class="header-inner-nav-item"><a href="#">Emma</a></li>
				</ul>
		    </nav>
	</header>
</div><!-- /wrapper -->
<!--st js-->


</body>
</html>
