/* snippet/UsualHeader */

body {
  font-family: "Yu Gothic", YuGothic, sans-serif;
}

pre, code {
  font-family: Consolas, Courier, 'Andale Mono', monospace;
}

/* シンタックスリスト */

.label {
  margin: 1em 0;
  font-size: 1em;
}

.label span {
  font-size: 80%;
}

.synthax {
  background-color: #593869;
  font-size: 80%;
  text-align: left;
  white-space: normal;
  border-radius: 3px;
}

.synthax ol {
  padding: 0 0 0 3.8em;
}

.synthax ol li {
  margin: 0;
  padding: .3em .5em;
  color: white;
  background-color: white;
  line-height: 1.2;
}

.synthax ol li:nth-child(2n) {
  background-color: #f4f4f4;
}

.synthax ol li code {
  margin: 0;
  color: #333;
  white-space: pre;
}

.synthax ol li code a {
  text-decoration: none;
}

/* http://kudakurage.com/ligature_symbols/ */

@font-face {
  font-family: 'LigatureSymbols';
  src: url('LigatureSymbols/LigatureSymbols-2.11.eot');
  src: url('LigatureSymbols/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
       url('LigatureSymbols/LigatureSymbols-2.11.woff') format('woff'),
       url('LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype'),
       url('LigatureSymbols/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* header */

#header {
  width: 100%;
  background-color: #f4f4f4;
}

#header .inner {
  width: 960px;
  margin: 0 auto;
}

#header .inner:after,
#header .nav .gnav:after {
  content: "";
  display: block;
  clear: both;
}

#header .logo,
#header ul li {
  float: left;
}

#header .sns,
#header .nav {
  float: right;
  margin-left: 20px;
}

#header .logo {
  margin: 30px 0 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1;
}

#header .logo span {
  margin-right: .15em;
  color: #00abeb;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#header .nav {
  border-left: 1px solid #ddd;
}

#header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

#header ul li {
  text-align: center;
}

#header .nav li {
  border-right: 1px solid #ddd;
}

#header ul li a {
  display: table-cell;
  height: 90px;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;
}

#header .nav li a {
  width: 100px;
}

#header .sns li a {
  width: 40px;
}

#header .sns li a::after {
  content: attr(title);
  font-size: 36px;
  font-family: 'LigatureSymbols';
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  font-feature-settings: "liga" 1, "dlig" 1;
}

#header .nav li a:hover {
  background-color: #fff;
}

/* IE9以下 */

.lte-ie9 #header .sns li a {
  display: inline-block;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(sns.png) 0 25px no-repeat;
}

.lte-ie9 #header .sns li a[title="facebook"] {
  background-position: -40px 25px;
}

.lte-ie9 #header .sns li a[title="google"] {
  background-position: -80px 25px;
}

/* contens */

#contents {
  position: relative;
  width: 960px;
  min-width: 650px;
  margin: 0 auto;
  padding: 50px 10px;
  background-color: #fff;
  box-sizing: border-box;
}






