/* snippet/Centering */

body {
  font-family: "Yu Gothic", YuGothic, sans-serif;
}

pre, code {
  font-family: Consolas, Courier, 'Andale Mono', monospace;
}

/* シンタックスリスト */

.label {
  margin: 1em 0;
  font-size: 1em;
}

.label span {
  font-size: 80%;
}

.synthax {
  background-color: #593869;
  font-size: 80%;
  text-align: left;
  white-space: normal;
  border-radius: 3px;
}

.synthax ol {
  padding: 0 0 0 3.8em;
}

.synthax ol li {
  margin: 0;
  padding: .3em .5em;
  color: white;
  background-color: white;
  line-height: 1.2;
}

.synthax ol li:nth-child(2n) {
  background-color: #f4f4f4;
}

.synthax ol li code {
  margin: 0;
  color: #333;
  white-space: pre;
}

/* contents */

.container,
.section {
  position: relative;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  height: 390px;
  max-width: 1200px;
  max-height: 800px;
  background: #eee url(bg.jpg) center center;
  background-size: cover;
  overflow: hidden;
  resize: both;
}

.section {
  padding: 50px;
}

.container .pan {
  z-index: 1;
  padding-bottom: 7em;
}

.container .txt {
  padding-top: 16em;
}

.container .rotate {
  max-width: 90%;
  height: auto;
  -webkit-animation: rotate 20s linear infinite;
  animation: rotate 20s linear infinite;
}

@-webkit-keyframes rotate {
  0% { -webkit-transform: translate(-50%, -55%) rotate(0deg); }
  100% { -webkit-transform: translate(-50%, -55%) rotate(360deg); }
}

@keyframes rotate {
  0% { transform: translate(-50%, -55%) rotate(0deg); }
  100% { transform: translate(-50%, -55%) rotate(360deg); }
}

/* 要素の中央に配置する */

.centering {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  white-space: nowrap;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* IE8 */

.ie8 .centering {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.ie8 img.centering {
  position: absolute;
  width: auto;
}

.ie8 img.pan {
  margin: -162px 0 0 -75px;
}

.ie8 .txt {
  top: auto;
  margin: 60px 0 0 -150px;
}

.ie8 img.rotate {
  margin: -331px 0 0 -302px;
}
